* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --fc-title: #0C3440;
    --fc-label: #00453A;
    --fc-input: #212529;
    --fc-place: rgba(73, 80, 87, 0.5);
    --fc-error: #FFF;
    --fc-button: #FFF;

    --bc-input: #02799D;
    --bc-input2: rgba(73, 80, 87, 0.3);

    --bg-input: #DCE2E9;
    --bg-error: #F03E3E;
    --bg-button: #02799D;
    --bg-bHover: #025B77;
    --bg-modal: rgba(0, 0, 0, 0.7);
}

body {
    background-color: #040924;

    font-family: 'Roboto', sans-serif;
}

body, input, button {
    font-size: 1.6rem;
    line-height: 2rem;
}

.container {
    height: 100vh;

    display: grid;
    place-content: center;
}

.card {
    max-width: 42.8rem;
    margin-inline: auto;
    padding: 4.8rem 6.4rem 6.4rem;

    background-color: #FFF;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

.title {
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--fc-title);
}

form {
    width: 30rem;
}

form h1 {
    margin-bottom: 3.2rem;
}

form label {
    margin-bottom: .8rem;

    display: block;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--fc-label);
}

form input {
    width: 100%;
    padding: 1.6rem;

    background-color: var(--bg-input);
    border: 1px solid var(--bc-input2);
    border-radius: .4rem;
}

form input:focus{
    outline: 2px solid var(--bc-input);
}

form input::placeholder {
    color: var(--fc-place);
}

.input-wrapper + .input-wrapper {
    margin-top: 1.6rem;
}

form button {
    width: 100%;
    margin-top: 3.2rem;
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    background-color: var(--bg-button);
    border: none;
    border-radius: .4rem;

    font-weight: bold;
    color: var(--fc-button);

    cursor: pointer;
    transition: background .3s;
}

form button:hover {
    background-color: var(--bg-bHover);
}

/* modal */
.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal-wrapper {
    position: absolute;
    inset: 0;

    display: grid;
    place-content: center;

    background-color: var(--bg-modal);
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
}

.modal button {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    background: none;
    border: none;

    cursor: pointer;
    transition: transform .3s;
}

.modal button:hover {
    transform: scale(1.1);
}

/* alert error*/
.alert-error.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.alert-error {
    padding: .8rem 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--bg-error);
    opacity: 0;
    visibility: hidden;

    text-align: center;
    font-weight: bold;
    color: var(--fc-error);

    transform: translateY(-3rem);
    transition: transform .5s;
}